
:root {
    --green: green;
}

div.l-fadeIn {
    display: flex;
    animation: fadeIn .2s;
}

div.l-fadeOut {
    animation: fadeOut .2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

svg#at {
    /*width: 250px;*/
    stroke: var(--green);
    fill: #ccc;
    stroke-dasharray: 1641;
    stroke-dashoffset: -1641;
    animation: 1.5s linear forwards at, 1s linear 2.5s infinite forwards fadeInOut;
}

svg.start-anim {
    animation: 1.5s linear forwards at, 1s linear 2.5s infinite forwards fadeInOut;
}

@keyframes at {
    0% {
        fill: white;
        stroke-dashoffset: -1641;
    }

    50% {
        fill: #ccc;
    }

    100% {
        stroke-dashoffset: 0;
        fill: var(--green);
    }
}

@keyframes fadeInOut {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    50% {
        transform: scale(0.987, 0.987);
        opacity: 0.89;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}