@inherits LayoutComponentBase

<PageTitle>Store</PageTitle>

<div class="page">

    <header id="page_header" class="page_header">
        <div class="headerChild">
            <div class="headerMenu">
                <img src="@(LibraryHelper.ContentPath)images/menu.png">
            </div>
            <h2 class="headerCaption-0">ClexAn /&nbsp;</h2>
            <h2 class="headerCaption"></h2>
        </div>
    </header>

    <main id="main_content" class="main_content">
        @Body
    </main>

    <NavMenu></NavMenu>

    <footer class="page_footer" id="page_footer">
    </footer>
</div>
